.input {
    width: 40%;
    border-radius: 8px;
    border: 2px solid #0b5ed7;
    padding: 10px 15px;
    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);

    &:focus {
        outline: none;
    }
}

.btn-shadow {
    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
}

@media(max-width: 576px) {
    .input {
        width: 80%;
    }
}